{% extends "base.html" %}

{% block content %}
   <a href="{% url 'leads:lead-list' %}">Back to leads</a>
   <hr>
   <h1>Leads Details</h1>
   <div class="lead">
      <p>ID: {{ lead.id }}</p>
      <p>Name: {{ lead.first_name }} {{ lead.last_name }}</p>
      <p>Age: {{ lead.age }}</p>
      <p>Agent Assigned: {{ lead.agent}}</p>
      <hr>
      <a href="{% url 'leads:lead-update' lead.pk %}">Update</a>
      <a href="{% url 'leads:lead-delete' lead.pk %}">Delete</a>
   </div>
{% endblock content %}